.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-lg) * 4);
  padding-bottom: calc(var(--mantine-spacing-lg) * 4);
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.content {
  order: 1;
  max-width: 480px;
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: calc(var(--mantine-spacing-sm) * 3);
    margin-left: calc(var(--mantine-spacing-sm) * 3);
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: 376px;
  height: 356px;
  order: 2;

  @media (max-width: $mantine-breakpoint-sm) {
    order: 1;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}
